pre {
	display: inline;
}

#campaign_segment .swat-radio-list-divider {
	font-size: 16px;
	color: #000;
	display: block;
	padding: 10px 0 5px 0;
	margin-left: inherit;
}

#text_content_field .swat-textarea-container {
	margin-right: 15px;
}

#text_content_field textarea {
	width: 100%
}
